// Global styles
// These styles are available on all pages.
// If a component has it's own styles, they can be found within the component's respective directory.

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-weight: var(--wpe--font-weight--medium);
	font-size: 1rem;
}